<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SIMPLEDB" class="com.kikini.logging.simpledb.SimpleDBAppender">
        <DomainName>rt-order-logs</DomainName>
        <AccessId>${aws.access-key}</AccessId>
        <SecretKey>${aws.secret-key}</SecretKey>
    </appender>

    <root level="INFO">
        <appender-ref ref="SIMPLEDB"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>