[Unit]
Description=Setup Release Daemon
After=syslog.target
After=network.target

[Service]
ExecStart=/home/ec2-user/setup-release.sh
WorkingDirectory=/home/ec2-user
User=root

[Install]
WantedBy=multi-user.target
